<div class="container">
    <div class="formulario">
        <mat-card>
            <form action="" autocomplete="off" [formGroup]="form" (ngSubmit)="enviar()">
                <!-- Date piker -->
                <mat-form-field appearance="fill">
                    <mat-label>Seleccione una fecha</mat-label>
                    <input matInput formControlName="fecha" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>
                        Seleccione una fecha valida
                    </mat-error>
                </mat-form-field>
                <!-- Nombre -->
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="name" matInput>
                    <mat-error>
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>               
                <!-- Correo -->
                <mat-form-field appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input formControlName="mail" matInput>
                    <mat-error>
                        Introduza una direacción de correo válida.
                    </mat-error>
                </mat-form-field>
                <!-- Pais -->
                <mat-form-field appearance="fill">
                    <mat-label>Pais</mat-label>
                    <mat-select formControlName="pais">
                        <mat-option value="{{pais}}" *ngFor="let pais of paises;">{{pais}}</mat-option>                        
                    </mat-select>
                    <mat-error>
                        Seleccione un pais.
                    </mat-error>
                </mat-form-field>
                <!-- Submit -->
                <button [disabled]="isValidForm()" mat-raised-button color="primary">Enviar</button>
            </form>
        </mat-card>
    </div>
</div>