<div class="container">
    <div class="formulario">
        <mat-card>
            <form action="">
                <!-- Date piker -->
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>First campaign</mat-label>
                    <mat-date-range-input
                      [formGroup]="campaignOne"
                      [rangePicker]="campaignOnePicker"
                      [comparisonStart]="campaignTwo.value.start"
                      [comparisonEnd]="campaignTwo.value.end">
                      <input matStartDate placeholder="Start date" formControlName="start">
                      <input matEndDate placeholder="End date" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                  </mat-form-field>
                  <!-- Nombre -->
                  <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <!-- Correo -->
                  <mat-form-field appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <!-- Pais -->
                  <mat-form-field appearance="fill">
                    <mat-label>Pais</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- Submit -->
                <button mat-raised-button color="primary">Primary</button>
            </form>
        </mat-card>
    </div>
</div>