:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container{
    background-color: rgb(96, 75, 122);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.formulario{
    width: 30%;    
    margin: auto;    
}

.formulario form{
    display: flex;
    flex-direction: column;
}