<div class="container">
    <div class="formulario">
        <mat-card>
            <form action="" autocomplete="off" [formGroup]="form" (ngSubmit)="login()">

                <!-- Nombre -->
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput>
                    <mat-error>
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
                <!-- password -->
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>
                        Este campo es requerido.
                    </mat-error>
                </mat-form-field>
                    <!-- Submit -->
                <button [disabled]="isValidForm()" mat-raised-button color="primary">Login</button>
            </form>
        </mat-card>
    </div>
</div>